[Unit]
Description=devopsfetch Service
After=network.target

[Service]
ExecStart=/usr/local/bin/devopsfetch
Restart=on-failure
RestartSec=30s
User=root
Environment=PATH=/usr/bin:/usr/local/bin
StandardOutput=journal
StandardError=journal
SyslogIdentifier=devopsfetch

[Install]
WantedBy=multi-user.target
